.FlairCard {
    background-color: var(--pri-bg);
    color: var(--pri-fg);
    border: 1px solid currentColor;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    width: max-content;
    max-width: 100%;
    overflow: hidden;
}
