{
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "preserve",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "never",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": true
}
