.TrollCard {
    /* min-width: 600px; */
    width: 100%;
}

.TrollCard.Skeleton {
    opacity: 0.25;
    user-select: none;
}

.TrollCard .top {
    display: grid;
    grid-template-columns: 33% 66%;
    justify-content: space-around;
    gap: 8px;
}

.TrollCardSmall .top {
    justify-content: left;
    grid-template-columns: 100%;
}

.TrollCard .top .gridItem {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.TrollCard .top .primary {
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.TrollCard .top .secondary {
    gap: 4px;
    padding: 4px;
    max-width: 100%;
}

.TrollCardSmall .top .secondary {
    padding: 0;
}

.TrollCard .bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.TrollCard .stack {
    --offset-value: 32px;
    position: relative;
    padding-bottom: var(--offset-value);
    padding-right: var(--offset-value);
    width: max-content;
}

.TrollCard .stack.noFalseSign {
    padding: 0;
}

.TrollCard .stack > div:nth-child(1) {
    position: relative;
    z-index: 2;
    /* width: max-content; */
}

.TrollCard .stack > div:nth-child(2) {
    position: absolute;
    /* width: max-content; */
    top: var(--offset-value);
    left: var(--offset-value);
    z-index: 1;
}

.TrollCard .stack > div:nth-child(2):hover {
    z-index: 3;
}
