.Box {
    background-color: var(--pri-bg);
    color: var(--pri-fg);
    border: 1px solid currentColor;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: max-content;
    max-width: 100%;
    overflow: hidden;
}

.Box.secondary {
    background-color: var(--sec-bg);
    color: var(--sec-fg);
}

.Box.fw {
    width: 100%;
}

.Box .innerContent {
    padding: 6px 4px;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
}

.Box .innerContentNoTitle {
    padding: 0;
}
